.schedule-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.copy-button {
  margin-top: 40px; /* Espaçamento acima do botão */
  display: block; /* Faz o botão se comportar como um bloco */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  padding: 10px 20px; /* Adiciona um espaçamento interno */
}

.schedule-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.schedule-title {
  text-align: center;
  margin-bottom: 1rem;
}

.schedule-table-container {
  margin-bottom: 1rem;
}

.copy-button {
  display: block;
  margin: 0 auto;
}

.schedule-table-small {
  font-size: 0.85rem;
}