.schedule-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.copy-button {
  margin-top: 40px; /* Espaçamento acima do botão */
  display: block; /* Faz o botão se comportar como um bloco */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  padding: 10px 20px; /* Adiciona um espaçamento interno */
}

.schedule-container {
  padding: 30px;
}

.schedule-table-container {
  overflow-x: auto;
}

.schedule-table-small {
  min-width: 300px;
}

.schedule-table {
  min-width: 650px;
}

.schedule-last-row {
  border-bottom: none;
}
